<div class="main">
    <div class="header">
        <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #b2b3b5;"></i>
        <input type="text" class="search-bar" placeholder="Search...">
        <div class="icons">
            <i class="icon"><i class="fa-regular fa-bell fa-xl" style="color: #b2b3b6;"></i></i>
            <img src="user.png" class="icon" alt="User">
        </div>
    </div>
    <div class="content">
        <h1>Dashboard</h1>
        <br>
        <div class="dotted-box"></div>
    </div>
</div>