<div class="main">
    <div class="header-wrap">
        <div class="user-info">
            <div class="searchbox">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <i class="fa-regular fa-bell fa-2xl"></i>
            <img src="user.png" alt="User Icon">
        </div>
    </div>
    <h1>DashBoard</h1>
</div>