    <div class="header">
        <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #b2b3b5;"></i>
        <input type="text" class="search-bar" placeholder="Search...">
        <div class="icons">
            <i class="icon"><i class="fa-regular fa-bell fa-xl" style="color: #b2b3b6;"></i></i>
            <img src="<%= '/logo' %>" class="icon" alt="User"> <!--GET LOGO FROM BACKEND-->
        </div>
    </div>