<div class="sidebar">
    <ul class="menu">
        <li class="headings">
            <a href="#">
                <i class="fa-brands fa-slack fa-2xl" style="font-size: xx-large;"></i>
                <span>workflow</span>
            </a>
        </li>
        <li>
            <a href="/">
                <i class="fa-solid fa-house"></i>
                <span>DashBoard</span>
            </a>
        </li>
        <li >
            <a href="/members">
                <i class="fa-solid fa-user-lock"></i>
                <span>Members</span>
            </a>
        </li>
        <li>
            <a href="/teams">
                <i class="fa-solid fa-users-gear"></i>
                <span>Teams</span>
            </a>
        </li>
        <li>
            <a href="/crops">
                <i class="fa-solid fa-leaf"></i>
                <span>Crops</span>
            </a>
        </li>
        <li>
            <a href="/projects">
                <i class="fa-regular fa-folder"></i>
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a href="/calendar">
                <i class="fa-regular fa-calendar"></i>
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a href="/documents">
                <i class="fa-solid fa-envelope"></i>
                <span>Documents</span>
            </a>
        </li>
        <li>
            <a href="/reports">
                <i class="fa-solid fa-square-poll-vertical"></i>
                <span>Reports</span>
            </a>
        </li>
        <li class="uploads">
            <a href="/upload">
                <i class="fa-solid fa-upload"></i>
                <span>Uploads</span>
            </a>
        </li>
    </ul>
    
</div>