<div class="sidebar">
    <ul class="menu">
        <li class="headings">
            <a href="#">
                <i class="fa-brands fa-slack fa-2xl" style="font-size: xx-large;"></i>
                <span>workflow</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-house"></i>
                <span>DashBoard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-user-plus"></i>
                <span>Team</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-regular fa-folder"></i>
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-regular fa-calendar"></i>
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-envelope"></i>
                <span>Documents</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-square-poll-vertical"></i>
                <span>Reports</span>
            </a>
        </li>
    </ul>
</div>