<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="post">
        <h3 class="">Welcome! Please Sign UP</h3>
        <label for="Username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <label for="Password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <label for="Password">Confirm Password</label>
        <input type="password" class="form-control" name="confirmPassword" placeholder="Password" required=""/>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>