@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
}
.sidebar {
    position: sticky;
    top: 0;
    left: 10;
    width: 240px;
    height: 100vh;
    /*padding: 0 1.7rem; */
    color: #fff;
    overflow: hidden;
    background: #43369F;
}
.headings{
    font-size: 20px;
    font-weight: bold;
}
.logo {
    height: 50px;
    padding: 16px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0; /* Add margin to remove default spacing */
}

.menu li {
    padding: 1rem;
    margin: 0; /* Remove margin to align items at the top */
    border-radius: 8px;
}

.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a i {
    font-size: 1.1rem;
}

.menu li img {
    margin: 0;
    width: 50px;
    height: 50px;
}

.menu li:hover {
    background: #362E77;
}
.main {
    position: relative;
    background-color: #d9dadb;
    width: 100%;
    /*padding: 1rem; */
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    /*background-color: white;
    border-radius: 10px; 
    padding: 10px 2rem; */
}
.header-wrap img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    /*gap: 10px; */
}
.searchbox {
    flex: 1;
    background-color: white;
    /*border-radius: 15px; */
    color: black;
    display: flex;
    align-items: center;
   /* padding: 4px 12px; */
    width: 70vw; /* Add this line to ensure it spans the entire width */
}
.searchbox input {
    background: transparent;
    padding: 10px;
    border: none;
    outline: none;
}
.searchbox i {
    background: transparent;
    padding: 10px;
}
.border-dotted {
    border-style: dotted;
  }
  
  .border-pink-100 {
    border-color: #FBCFE8;
  }
  
  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
