@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica;
}
body {
    display: flex;
}
.uploads{
  position: absolute;
  bottom: 0;
}
.dashboard {
  padding: 2px;
  background-color: #dbc7c7;
  background-color: rgba(0, 0, 255, 0.55);
  color: black;
}
.sidebar {
    min-width: 50px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%; 
    max-width: 240px; 
    height: 100vh;
    color: #fff;
    overflow: hidden;
    background: #43369F;
}

.headings {
    font-size: 20px;
    font-weight: bold;
}

.logo {
    height: 50px;
    padding: 16px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 1rem;
    margin: 0;
    border-radius: 8px;
}

.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a i {
    font-size: 1.1rem;
}

.menu li img {
    margin: 0;
    width: 50px;
    height: 50px;
}

.menu li:hover {
    background: #362E77;
}

@media (max-width: 768px) {
    /* Hides the text in the menu links */
    .menu a span {
      display: none;
    }
    /* this will reduce the width of the sidebar */
    .sidebar {
      width: 80px;
    }
  
    .menu a {
      gap: 0.5rem;
    }
  }


.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.search-bar {
  flex: 1;
  margin-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.icons {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.content {
  flex: 1;
  background-color: #e2e2e2;
  padding: 1.2% 2% 0 2%;
  overflow: scroll;
   max-width: 100%; 
   box-sizing: border-box; 
  }
.dotted-box{
    width: 100%;
    height: 50%;
    border: 3.5px dotted gray;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  table-layout:fixed;
  overflow: scroll;
}
.styled-table td {
    word-wrap:normal; /* Wrap long words to next line */
    overflow: hidden; /* Hide content that overflows */
    max-width: 100%; /* Limit the width of content to the cell width */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for truncated text */
  }
/* the table header */
.styled-table th {
  background-color: #43369F; /* Blue background color */
  color: white; /* White text color */
  text-align: left;
  padding: 10px;
  /*border: 1px solid #ddd;*/
}

/* the table rows */
.styled-table td {
  background-color: white; /* White background color */
  padding: 10px;
  border: 1px solid #ddd;
}

/* Alternating row colors */
.styled-table tbody tr:nth-child(even) {
  background-color: white; /* White background color for even rows */
}
button {
  background-color: #007BFF;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none; /* Remove the default underline for anchor tags */
  color: white;
}

button a {
  color: inherit; /* Inherit the button's text color */
  text-decoration: none; /* Remove the default underline for anchor tags */
}

button:hover {
  background-color: #0056b3;
}

.crop-details {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.crop-details h2 {
  color: #333;
  margin-top: 0;
}

.crop-details p {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.5;
}

.back-link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #fafafa;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
.card {
    width: 250px;
    background-color: rgba(26, 6, 249, 0.5);
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 25px;
}

.line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-container {
    width: 30px;
    text-align: center;
}

#icon-team {
    margin-right: 10px;
    font-size: 20px;
}

#team-span {
    margin-left: auto;
}
h4 {
    margin-top: 0;
}

