@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%; 
    max-width: 240px; 
    height: 100vh;
    color: #fff;
    overflow: hidden;
    background: #43369F;
}

.headings {
    font-size: 20px;
    font-weight: bold;
}

.logo {
    height: 50px;
    padding: 16px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 1rem;
    margin: 0;
    border-radius: 8px;
}

.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a i {
    font-size: 1.1rem;
}

.menu li img {
    margin: 0;
    width: 50px;
    height: 50px;
}

.menu li:hover {
    background: #362E77;
}

@media (max-width: 768px) {
    /* Hides the text in the menu links */
    .menu a span {
      display: none;
    }
    /* this will reduce the width of the sidebar */
    .sidebar {
      width: 80px;
    }
  
    .menu a {
      gap: 0.5rem;
    }
  }


.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.search-bar {
  flex: 1;
  margin-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.icons {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.content {
  flex: 1;
  background-color: #e2e2e2;
  padding: 1.2% 0 0 2%;
}
.dotted-box{
    width: 90%;
    height: 50%;
    border: 3.5px dotted gray;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
