*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body {
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    background: #43369F ;
}
.logo {
    height: 80px;
    padding: 16px;

}
.menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
}
.menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu li:hover{
    background: #362E77;
}